h3 About #{subtitle}
section
  p #{about}<br>Site: <a href="#{site}" target="_blank">#{site}</a>
h3 Videos
div.row
  each partner in partners
    each video in partner.videos
      div.col-sm-6.col-md-4
        div.thumbnail
          if partner.image
            img(src="/images/#{partner.image}" class="img-rounded" width="250" height="120")
          else
            img(src="/images/#{image}" class="img-rounded" width="250" height="120")
          div.caption
            h3 #{video.title}
            p.video-description #{video.description}
            p.video-metadata Author: <a href="#{partner.site_url}" target="_blank">#{partner.site}</a> | Language: <span class="label label-primary">#{partner.lang.toUpperCase()}</span> | Duration: <span class="label label-primary">#{video.duration}</span>
            p <a href="#{video.url}" class="btn btn-success btn-block" role="button" target="_blank">Watch</a>