h3.center #{description}
section.row
  p.center Choose a platform
for platform in platforms
  - total_videos = 0
  - category = public[platform]._data.index
  for partner in category.partners
    if partner.publish
      - total_videos = total_videos + partner.videos.length
  if total_videos
    div.col-sm-6.col-md-4
      div.jumbotron
        figure.jumbotron-photo
          a(href="#{root_url[environment]}#{platform}")
            img(src="#{root_url[environment]}images/#{category.image}" width="350" height="195")
        article.jumbotron-contents
          p.center
            a(href="#{root_url[environment]}#{platform}" class="btn btn-block btn-primary") <i class="icon-video"></i>&nbsp;#{category.subtitle} (#{total_videos} videos)
section.row
  != partial("_shared/social_buttons")
section.row
  div.col-sm-8.col-sm-offset-2
    div#disqus_thread