h2 API
p This is a simple and static JSON api which provides datas about all screencasts from this website.
h3 Resources
for platform in platforms
  p <strong>GET:</strong>&nbsp;<a href="#{root_url[environment]}api/#{platform}.json">/api/#{platform}.json</a><br>Returns a JSON with partners and screencasts about <a href="#{root_url[environment]}#{platform}">#{platform}</a>.
h3 Output
p All resources returns a JSON content with these fields:
div.row
  div.col-sm-4 <strong>Field</strong>
  div.col-sm-4 <strong>Description</strong>
  div.col-sm-4 <strong>Type</strong>
div.row
  div.col-sm-4 subtitle
  div.col-sm-4 Platform name.<br>Ex.: (Node.js, Meteor, Ruby).
  div.col-sm-4 String
div.row
  div.col-sm-4 name
  div.col-sm-4 Platform slugify name.<br>Ex.: (nodejs, meteor, ruby).
  div.col-sm-4 String
div.row
  div.col-sm-4 about
  div.col-sm-4 A short description about the platform.
  div.col-sm-4 String
div.row
  div.col-sm-4 site
  div.col-sm-4 The official platform website url.
  div.col-sm-4 String
div.row
  div.col-sm-4 image
  div.col-sm-4 Platform logo url.
  div.col-sm-4 String
div.row
  div.col-sm-4 partners
  div.col-sm-4 List of partner screencast providers.
  div.col-sm-4 Array
div.row
  div.col-sm-4 partners.site
  div.col-sm-4 Partner website name.
  div.col-sm-4 String
div.row
  div.col-sm-4 partners.site_url
  div.col-sm-4 Partner website url.
  div.col-sm-4 String
div.row
  div.col-sm-4 partners.lang
  div.col-sm-4 Partner location.<br>Ex.: (EN, PT-BR).
  div.col-sm-4 String
div.row
  div.col-sm-4 partners.videos
  div.col-sm-4 List of partner screencasts.
  div.col-sm-4 Array
div.row
  div.col-sm-4 partners.videos.title
  div.col-sm-4 Partner video title.
  div.col-sm-4 String
div.row
  div.col-sm-4 partners.videos.description
  div.col-sm-4 Partner video description.
  div.col-sm-4 String
div.row
  div.col-sm-4 partners.videos.duration
  div.col-sm-4 Partner video duration.
  div.col-sm-4 String
div.row
  div.col-sm-4 partners.videos.level
  div.col-sm-4 Partner video level char.<br>Ex.: (B - Basic, I - Intermediate, A - Advanced).
  div.col-sm-4 String
div.row
  div.col-sm-4 partners.videos.level_title
  div.col-sm-4 Partner video level title.<br>Ex.: (Basic video, Intermediate video, Advanced video).
  div.col-sm-4 String
div.row
  div.col-sm-4 partners.videos.url
  div.col-sm-4 Partner video url.
  div.col-sm-4 String
br