h1 #{title}
section
  p #{about}
  p Site: <a href="#{site}" target="_blank">#{site}</a>
  if repository
    p Repository: <a href="#{repository}" target="_blank">#{repository}</a>
section
ul
  each video in videos
    li
      section
        h1 #{video.title}
        a(href="#{video.url}" target="_blank")
          img(src="#{video.image}" width="250" height="120")
        p #{video.description}<br><small>Duration: #{video.duration}</small>
        p <a href="#{video.url}" target="_blank">Watch</a>
