header.header
  nav.navbar.navbar-inverse(role="navigation")
    div.container
      div.navbar-header
        button.navbar-toggle(type="button")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#{root_url[environment]}") 
          img(src="#{root_url[environment]}assets/images/devfreecasts.png" width="223" height="35" alt="DevFreeCasts - #{description}" title="DevFreeCasts - #{description}")
      div.navbar-right.navbar-collapse
        ul.nav.navbar-nav
          li
            a.navbar-link(href="https://docs.google.com/forms/d/1T1n-5WP1oV_tvvrIlbLfvpUXfLz-HQ4T57lR08Dt0wU/viewform" target="_blank") <i class="icon-plus"></i>&nbsp;Add FreeCast
          li
            a.navbar-link(href="#{root_url[environment]}about") <i class="icon-user"></i>&nbsp;About