h2 #{subtitle}
section
  p #{about}<br>Site: <a href="#{site}" target="_blank">#{site}</a>
h3 Videos
div.row(data-platform-url="#{root_url[environment]}api/#{name}.json")
  div.loading
    h3 Loading...